.toDo {
  &--InProgress {
    @extend .toDo;
    background-color: rgb(252, 255, 103);
  }

  &--Completed {
    @extend .toDo;
    background-color: rgb(135, 255, 88);
  }

  &--Delayed {
    @extend .toDo;
    background-color: rgb(255, 111, 75);
  }

  width: 100%;
  min-height: 50px;
  border: 1px solid rgb(143, 96, 35);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px 0px 10px;
  transition: background-color 0.5s linear;

  .toDo__Text {
    font-size: x-large;
    min-width: 7.125rem;
    max-width: 24.6875rem;
    min-height: 35px;
    align-items: center;
    word-wrap: break-word;

    @media only screen and (min-device-width: 360px) and (max-device-width: 812px) {
      font-size: 1rem;
      max-width: 7.1563rem;
    }
  }

  .toDo__Options {
    width: 150px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .toDo__State {
      width: 100px;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      input[type="checkbox"] {
        transform: scale(1.5);
        margin: 0;
        transition: border 1s linear;
        &:hover {
          border: 10px solid red;
        }
      }
    }

    .Svg {
      width: 19.5px;
      height: 19.5px;
      border-radius: 5px;
      transition: background-color 0.5s linear;
      &:hover {
        background-color: rgb(163, 136, 101);
      }
    }
  }
}
