body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  background-color: rgb(228, 222, 169);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

  h2 {
    text-align: center;
    background-color: rgb(240, 173, 87);
    width: 10em;
    border-radius: 20px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 173, 87);
    border-radius: 20px;
    min-width: 280px;
    max-width: 600px;
    min-height: 590px;
    height: 65%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(51, 32, 7);

    .toDoList {
      border: 1px solid rgb(122, 88, 42);
      border-radius: 20px;
      min-height: 72px;
      max-height: 85%;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      justify-content: flex-start;
      align-self: center;
    }
  }
}
